header{
    padding: 30px 0 100px 0;
    display: flex;
    flex-direction: column;
    background-color: #499CA6;

}

.header-tel p{
   text-align: right;
   width: fit-content;
   margin-left: auto;
   color: white;
   padding: 0.5rem;
   border: solid white 1px;
   border-radius: 10px;
}

.header-content{
    text-align: center;
    margin: 0 auto;
    display: flex;
justify-content: center;
     }

     .header-content img{
            margin: 0 auto 40px;
            width: 6rem;
          }
          
     

     header ul li{
         list-style-type: none;
     }

     header h3{
         font-size: 1.8rem;
         color: white;
         margin-top: -20px;
         margin-bottom: 20px;
     }

     @media(min-width: 768px){

        .header-content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
           align-items: center;
        } 

        .header-content img{
            margin: 15px 0 15px 20px;
            left: 10px;
        }

       .header-part-two{
           margin: auto auto;
           text-align: center;
           display: flex;
           justify-content: space-between;
       }

       .header-tel p{
           font-size: 24px;
           }
       
           header h3 {
            font-size: 1.8rem;
            color: white;
            margin-top: auto;
            margin-bottom: 70px;
            margin: auto;
       }

        header ul li{
            list-style-type: none;
            justify-content: space-between;
            padding: 0 20px;

     }
    }
