//------------------ SECTION POURQUOI JULIA ------------------

//------------------ CARTES AVANTAGES  ------------------
.pourquoi{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(196, 231, 235);
  padding: 25px 0;
}


.section-title{
  margin: 30px auto;
  background: url(../../images/bg-main-pourquoi.png) no-repeat center;
  background-size: 10rem;
  color: #8C615D;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0;
}

.avt-article .title {
  width: fit-content;
  background-color: #D94A70;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-justify: auto;
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
}

.avt-article{
  margin: 20px auto;
}

.avt-card{
  background-color: #fff;
  color: #499CA6;
  font-size: 18px;
  padding: 40px 30px 30px 30px;
  margin-bottom:  3rem auto;
  margin-top: 50px;
 padding-top: auto;
 width: 80vw;
 max-width: 710px;
 box-shadow: 3px 6px 8px rgb(156, 156, 156)
}

//------------------ TEMOIGNAGES  ------------------
.article-content{
  display: flex;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
  font-style: italic;
  max-width: 570px;
  box-shadow: 3px 6px 8px rgb(156, 156, 156)
}

.title-bis{
  color: #D94A70;
  text-align: center;
  margin: 40px auto 30px;
}

.comm{
  color: #707070;
  font-size: smaller;
  flex-basis: 50%;
  margin-bottom: 0;
}

.guill{
  color: #D94A70;
}

.tem{
  margin-right: auto;
}

.tem-img{
  right: 10px;
   margin-left: auto;
}

#solene{
  margin-right: auto;
}

.img-tem{
  width: 120px;
}

.main-tem{
  position: absolute;
  width: 120px;
  margin-top: -30px;  
 
}

.noms{
  padding: 10px 20px 0;
  color: #D94A70;
  margin-bottom: 0;
  margin-left: auto;
  font-size: smaller;
  margin-bottom: 0;
}


#tem-2{
  flex-direction: row-reverse;

  .noms{
    margin-right: auto;
    margin-left: 50px;
  }
}

@media(min-width:426px){
  .noms{
    font-size: medium;
    margin-top: 20px;
    margin-left: 0;
  }

  #tem-2 .noms {
      margin-right: 0;
      padding-right: 50px;
  }

  .comm{
    font-size: 18px;
  }

  .img-tem{
    width: 100%;
  }

.main-tem{
  width: 160px;
  margin: -30px auto 0;
}
}

@media(min-width:769px){

.pourquoi{
  display: flex;
flex-direction: row;
padding: 0 20px;
align-items: center;
}

.part-1{
  flex-basis: 45%;
}

.part-2{
  flex-basis: 45%;
}
.avt-card{
  width: auto;
}

.title-bis{
  margin-block-start: 0;
}

}
//------------------ END SECTION POURQUOI JULIA ------------------

