//------------------ SECTION POURQUOI JULIA ------------------

//------------------ CARTES AVANTAGES  ------------------
.pourquoi{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(196, 231, 235);
  padding: 25px 0;
}


.section-title{
  margin: 30px auto;
  background: url(../../images/bg-main-pourquoi.png) no-repeat center;
  background-size: 10rem;
  color: #8C615D;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0;
}

.avt-article .title {
  width: fit-content;
  background-color: #D94A70;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-justify: auto;
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
}

.avt-article{
  margin: 20px auto;
}

.avt-card{
  background-color: #fff;
  color: #499CA6;
  font-size: 18px;
  padding: 40px 30px 20px 30px;
  margin-bottom:  3rem auto;
  margin-top: 50px;
 padding-top: auto;
 width: 80vw;
 max-width: 710px;
 box-shadow: 3px 6px 8px rgb(156, 156, 156)
}

//------------------ TEMOIGNAGES  ------------------
.article-content{
  display: flex;
  margin: 20px 10px;
  padding: 10px 20px;
  border-radius: 20px;
  flex-wrap: wrap;
  font-style: italic;
  max-width: 570px;
  box-shadow: 3px 6px 8px rgb(156, 156, 156)
}

.title-bis{
  color: #D94A70;
  text-align: center;
  margin: 40px auto 30px;
}

.comm{
  color: #707070;
  padding-top: 15px;
}
.guill{
  color: #D94A70;
}

.tem{
  margin-right: auto;
}

.tem-img{
  right: 10px;
  margin-left: auto;
}

.main-tem{
  position: absolute;
  margin-top: -40px;  
  width: 180px;
}

.noms{
padding: 10px 50px;
  color: #D94A70;
  margin-bottom: 0;
}

#tem-2{
  flex-direction: row-reverse;

  .noms{
    margin-right: auto;
    margin-left: 50px;
  }
}

@media(min-width:960px){
  .pourquoi{
    display: flex;
    flex-direction: row;
}
}
//------------------ END SECTION POURQUOI JULIA ------------------

